<link rel="stylesheet" href="../3rd/bootstrap-3.3.6-dist/css/bootstrap.css">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6"><span class="panel-title">Files</span></div>
      <div class="col-md-6"><span class="pull-right"><input type="search" ng-model="fileFilter.originalFilename" placeholder="filter"></span></div>
    </div>
  </div>
  <div class="panel-body"></div>
  <table class="table table-striped">
    <tr>
      <th>Filename</th>
      <th>Status</th>
      <th><span ng-show="facts.length">Matches</span></th>
      <th></th>
    </tr>
    <tr ng-repeat="file in files | filter : fileFilter ">
      <td><a href="#/file/{{file.id}}">{{file.originalFilename}}</a></td>
      <td>{{getStatus(file)}}</td>
      <td>
        <div ng-repeat="fact in getFacts(file.id)" ng-bind-html="fact.snippet"
          ng-class="{'spaced': !$last}"></div>
      </td>
      <td class="text-right">
        <a ng-href="{{getDownloadUrl(file.id)}}" target="_self"> 
          <span class="glyphicon glyphicon-download" title="Download" data-toggle="tooltip" data-placement="top" tooltip></span>
        </a>
        <a ng-click="deleteFile(file)"> 
          <span class="glyphicon glyphicon-remove" title="Delete" data-toggle="tooltip" data-placement="top" tooltip></span>
        </a>
      </td>
    </tr>
  </table>
</div>
